<!doctype html>
<html lang="en">
   <head>
      <title> Data Table </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>
        <div style="margin: 1em;">
            <form class="form-inline m-2">
                <input class="form-control mr-sm-2" type="search" id="HSHD_NUM" placeholder="HSHD_NUM" aria-label="HSHD_NUM">
                <button id="hshd-submit" class="btn" type="submit" id="search">Search</button>
            </form>
            <table class="table table-hover table-striped">
                <thead>
                    <tr style="font-weight: bold;">
                        <th scope="col">BASKET_NUM</th>
                        <th scope="col">HSHD_NUM</th>
                        <th scope="col">L</th>
                        <th scope="col">AGE_RANGE</th>
                        <th scope="col">MARTIAL</th>
                        <th scope="col">INCOME_RANGE</th>
                        <th scope="col">HOMEOWNER</th>
                        <th scope="col">HSHD_COMPOSITION</th>
                        <th scope="col">HH_SIZE</th>
                        <th scope="col">CHILDREN</th>
                        <th scope="col">DATE</th>
                        <th scope="col">PRODUCT_NUM</th>
                        <th scope="col">DEPARTMENT</th>
                        <th scope="col">COMMODITY</th>
                        <th scope="col">BRAND_TY</th>
                        <th scope="col">ORGANIC_FLAG</th>
                        <th scope="col">SPEND</th>
                        <th scope="col">UNITS</th>
                        <th scope="col">STORE_R</th>
                        <th scope="col">WEEK_NUM</th>
                        <th scope="col">YEAR</th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.forEach(transaction => { %>
                        <tr>
                            <td scope="row"
                               ><%= transaction.BASKET_NUM %></td>
                            <td><%= transaction.HSHD_NUM.HSHD_NUM %></td>
                            <td><%= transaction.HSHD_NUM.L %></td>
                            <td><%= transaction.HSHD_NUM.AGE_RANGE %></td>
                            <td><%= transaction.HSHD_NUM.MARITAL %></td>
                            <td><%= transaction.HSHD_NUM.INCOME_RANGE %></td>
                            <td><%= transaction.HSHD_NUM.HOMEOWNER %></td>
                            <td><%= transaction.HSHD_NUM.HSHD_COMPOSITION %></td>
                            <td><%= transaction.HSHD_NUM.HH_SIZE %></td>
                            <td><%= transaction.HSHD_NUM.CHILDREN %></td>
                            <td><%= transaction.PURCHASE_ %></td>
                            <td><%= transaction.PRODUCT_NUM.PRODUCT_NUM %></td>
                            <td><%= transaction.PRODUCT_NUM.DEPARTMENT %></td>
                            <td><%= transaction.PRODUCT_NUM.COMMODITY %></td>
                            <td><%= transaction.PRODUCT_NUM.BRAND_TY %></td>
                            <td><%= transaction.PRODUCT_NUM.NATURAL_ORGANIC_FLAG %></td>
                            <td><%= transaction.SPEND %></td>
                            <td><%= transaction.UNITS %></td>
                            <td><%= transaction.STORE_R %></td>
                            <td><%= transaction.WEEK_NUM %></td>
                            <td><%= transaction.YEAR %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
   </body>
   <% include partials/footer %>
   <script>
    $(document).ready(function() {
        $('#hshd-submit').click(function(e) {
            e.preventDefault();
            var hshd_num = $('#HSHD_NUM').val();
            console.log('debug',hshd_num);
            document.location.href = '/home?id=' + hshd_num;
        });
    });
   </script>
</html>